<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.huiping.server.mapper.OrderMapper">
    <select id="selectByUserId" resultType="org.huiping.server.entity.Order">
        SELECT * FROM orders
        WHERE user_id=#{userId}
        ORDER BY id DESC LIMIT 100
    </select>

    <select id="selectCancelableById" resultType="org.huiping.server.entity.Order">
        SELECT * FROM orders
        WHERE id=#{orderId}
        AND status IN (0,1)
    </select>

    <insert id="insert" parameterType="org.huiping.server.entity.Order">
        INSERT INTO orders ( order_no, user_id, total_amount, address_id, receiver_name,
        receiver_phone, province, city, district, detail_address, status, items, remark
        )
        VALUES ( #{orderNo}, #{userId}, #{totalAmount}, #{addressId}, #{receiverName},
        #{receiverPhone}, #{province}, #{city}, #{district}, #{detailAddress}, 0, #{items}, #{remark} )
    </insert>

    <select id="selectByOrderNo" resultType="org.huiping.server.entity.Order">
        SELECT * FROM orders
        WHERE order_no=#{orderNo}
    </select>

    <update id="updateStatusToCancelledByIdAndUserId">
        UPDATE orders
        SET status=5,updated_at=CURRENT_TIMESTAMP
        WHERE id=#{orderId}
        AND user_id=#{userId}
    </update>

    <select id="selectPendingPaymentByIdAndUserId" resultType="org.huiping.server.entity.Order">
        SELECT * FROM orders
        WHERE id=#{orderId}
        AND user_id=#{userId}
        AND status=0
    </select>

    <update id="updateTotal">
        UPDATE orders
        SET total_amount=#{total}
        WHERE id=#{orderId}
    </update>

    <update id="updateStatusToPaidByOrderNo">
        UPDATE orders
        SET status=1, pay_time=NOW()
        WHERE order_no=#{orderNo}
        AND status=0
    </update>

    <update id="updateStatusByOrderNo">
        UPDATE orders
        SET status=#{status}
        WHERE order_no=#{orderNo}
        AND status=0
    </update>
</mapper>
