<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.huiping.server.mapper.UserMapper">

  <select id="selectByOpenid" resultType="org.huiping.server.entity.User">
    SELECT * FROM users WHERE openid=#{openid}
  </select>

  <select id="selectByUserId" resultType="org.huiping.server.entity.User">
    SELECT * FROM users WHERE id=#{userId}
  </select>

  <select id="selectOpenidByUserId" resultType="string">
    SELECT openid FROM users WHERE id=#{userId}
  </select>

  <update id="updateProfileByUserId">
    UPDATE users SET nickname=#{nickname},avatar=#{avatar} WHERE id=#{userId}
  </update>

  <update id="updateUidByOpenId">
    UPDATE users SET uid=#{uid} WHERE openid=#{openid}
  </update>

  <insert id="insert">
    INSERT INTO users(openid,uid,nickname,avatar) VALUES(#{openid},#{uid},#{nickname},#{avatar})
  </insert>
</mapper>
